In [1]:
import pandas as pd
from collections import Counter
import seaborn as sns
import matplotlib.pyplot as plt

# define the dataset location
filename = 'adult-all.csv'
# load the csv file as a data frame
dataframe = pd.read_csv(filename, header=None, na_values='?')
dataframe.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'label']

dataframe = dataframe.dropna() # drop rows with missing


dataframe['workclass'] = dataframe['workclass'].astype('category').cat.codes
dataframe['education'] = dataframe['education'].astype('category').cat.codes
dataframe['marital-status'] = dataframe['marital-status'].astype('category').cat.codes
dataframe['occupation'] = dataframe['occupation'].astype('category').cat.codes
dataframe['relationship'] = dataframe['relationship'].astype('category').cat.codes
dataframe['race'] = dataframe['race'].astype('category').cat.codes
dataframe['sex'] = dataframe['sex'].astype('category').cat.codes
dataframe['native-country'] = dataframe['native-country'].astype('category').cat.codes
dataframe['label'] = dataframe['label'].astype('category').cat.codes
dataframe['label'] = dataframe['label'].astype('object')

dataframe.drop(columns='education-num') # education and education-num is the same thing

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,5,77516,9,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,9,2,3,0,4,1,0,0,13,38,0
2,38,2,215646,11,0,5,1,4,1,0,0,40,38,0
3,53,2,234721,1,2,5,0,2,1,0,0,40,38,0
4,28,2,338409,9,2,9,5,2,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48836,33,2,245211,9,4,9,3,4,1,0,0,40,38,0
48837,39,2,215419,9,0,9,1,4,0,0,0,36,38,0
48839,38,2,374983,9,2,9,0,4,1,0,0,50,38,0
48840,44,2,83891,9,0,0,3,1,1,5455,0,40,38,0
48841,35,3,182148,9,2,3,0,4,1,0,0,60,38,1

In [2]:
dataframe.corr()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
age,1.000000,0.085892,-0.075792,-0.003511,0.037623,-0.271623,-0.004474,-0.247564,0.023776,0.082053,0.079683,0.059351,0.101992,-0.003180
workclass,0.085892,1.000000,-0.034970,0.017846,0.040779,-0.033221,0.017508,-0.065049,0.049765,0.069638,0.034543,0.008233,0.051366,0.003889
fnlwgt,-0.075792,-0.034970,1.000000,-0.025318,-0.041993,0.033096,-0.002036,0.009909,-0.029188,0.027240,-0.004110,-0.004349,-0.018679,-0.061098
education,-0.003511,0.017846,-0.025318,1.000000,0.347444,-0.041520,-0.033499,-0.013179,0.011457,-0.027569,0.029889,0.016877,0.060887,0.077893
education-num,0.037623,0.040779,-0.041993,0.347444,1.000000,-0.064986,0.089686,-0.088431,0.031655,0.003417,0.126907,0.081711,0.146206,0.092994
marital-status,-0.271623,-0.033221,0.033096,-0.041520,-0.064986,1.000000,0.016399,0.180436,-0.070302,-0.120008,-0.042399,-0.034820,-0.183178,-0.022721
occupation,-0.004474,0.017508,-0.002036,-0.033499,0.089686,0.016399,1.000000,-0.051644,-0.000026,0.056625,0.019435,0.015267,0.016160,-0.002848
relationship,-0.247564,-0.065049,0.009909,-0.013179,-0.088431,0.180436,-0.051644,1.000000,-0.118584,-0.582974,-0.056818,-0.058425,-0.259194,-0.007144
race,0.023776,0.049765,-0.029188,0.011457,0.031655,-0.070302,-0.000026,-0.118584,1.000000,0.088935,0.014078,0.020955,0.044738,0.124342
sex,0.082053,0.069638,0.027240,-0.027569,0.003417,-0.120008,0.056625,-0.582974,0.088935,1.000000,0.047444,0.046457,0.231425,-0.004170
capital-gain,0.079683,0.034543,-0.004110,0.029889,0.126907,-0.042399,0.019435,-0.056818,0.014078,0.047444,1.000000,-0.032102,0.083880,0.007643
capital-loss,0.059351,0.008233,-0.004349,0.016877,0.081711,-0.034820,0.015267,-0.058425,0.020955,0.046457,-0.032102,1.000000,0.054195,0.005955
hours-per-week,0.101992,0.051366,-0.018679,0.060887,0.146206,-0.183178,0.016160,-0.259194,0.044738,0.231425,0.083880,0.054195,1.000000,0.007554
native-country,-0.003180,0.003889,-0.061098,0.077893,0.092994,-0.022721,-0.002848,-0.007144,0.124342,-0.004170,0.007643,0.005955,0.007554,1.000000